<!doctype html>
<html>
<head>
	<title>{{pageTitle}}</title>
	<!-- <link rel="stylesheet" type="text/css" href="/static/style.css"> -->
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
</head>
<body>
	
	<!-- Page content  -->
	{% block body %}{% endblock %}

    <!-- Scripts section  -->
	<script type="text/javascript" src="/static/jquery.js"></script>
	<script type="text/javascript" src="/static/bootstrap.min.js"></script>	
    <script type="text/javascript" src="/static/filesaver.js"></script>
    <script type="text/javascript" src="/static/canvasblob.js"></script>
	
</body>
</html>